{% extends 'base.html' %}

{% block content %}

<body class="text-center">
    <div class="container">
        <form class="form-signin">
            <a href=""><span class="btn btn-block mt-3" style="background-color : #563d7c; color:#fff;"><img src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" width="22px;" style="float:left;">행맨</span></a>
            <a href="{% url 'quiz' pk=1 %}"><span class="btn btn-block mt-1" style="background-color : #DC4A38; color:#fff;; "><img src="https://bit.ly/2q4tG67" width="22px;" style="float:left;">퀴즈</span></a>
        </form>
    </div>

{% endblock %}
